@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fbfaf9;
    --darkPrimary: #e8e7e5;
    --secondary: #f4f1ee;
    --claude: #da7756;
    --claudeBackground: rgba(218, 119, 86, 0.1);
    --buy: #76b562;
    --buyOpacity: rgba(118, 181, 98, 0.4);
    --buyLight: rgba(118, 181, 98, 0.2);
    --sell: #e96a5e;
    --sellOpacity: rgba(233, 106, 94, 0.4);
    --sellLight: rgba(233, 106, 94, 0.2);
    --customBlue: #9999ff;
    --customOrange: #e16540;
    --customYellow: #fac666;
    --shadow-color: rgba(30, 45, 82, 0.06);
    --tertiary: #6e747c;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3929;
    /* color: #444444; */
    font-size: 14px;
}

p {
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    .background-class {
        background-image: url("/background-bars-colors.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        z-index: 0;
    }
}

.animate-slide-right {
    animation: slideRight 30s ease-in-out infinite alternate;
}

.animate-slide-left {
    animation: slideLeft 30s ease-in-out infinite alternate;
}

@keyframes slideRight {
    from {
        transform: translateX(-8rem);
    }

    to {
        transform: translateX(8rem);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(8rem);
    }

    to {
        transform: translateX(-8rem);
    }
}

/* Loading Section */

.running-algorithm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 6px;
    background-color: hsl(var(--muted));
    border-radius: 50%;
    animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Mobile navigation */

.mobile-nav-link {
    /* padding: 18px; */
    margin: 24px 18px;
}

.test {
    background-image: url("/nav/test-2.png");
}

.flex-center {
    @apply flex items-center justify-center;
}

.nav-link {
    @apply hover:bg-card-alt py-1 lg:py-3 px-2 lg:px-5 rounded-md cursor-pointer transition-colors;
}

.custom-button {
    @apply px-2 md:px-4 py-2 rounded-md border border-border md:hover:bg-card-alt transition-colors;
}
ames bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* End of Loading Section */

/* Calendar Section */
.calendar-banner-shadow {
    box-shadow: var(--shadow-color) 0px 0px 0.4px 0.4px, rgba(30, 45, 82, 0.2) 0.4px 0.4px 0.4px 0px;
}

/* End of Calendar Section */

/* Mobile navigation */

.mobile-nav-link {
    /* padding: 18px; */
    margin: 24px 18px;
}

/* End of Mobile navigation */

.test {
    background-image: url("/nav/test-2.png");
}

.main-text {
    @apply bg-gradient-to-br from-zinc-800 via-zinc-600 to-zinc-950 font-bold text-transparent bg-clip-text;
}

.flex-center {
    @apply flex items-center justify-center;
}

.nav-link {
    @apply hover:bg-darkPrimary py-1 lg:py-3 px-2 lg:px-5 rounded-md cursor-pointer;
}

.custom-button {
    @apply px-2 md:px-4 py-2 rounded-md border border-zinc-200 md:hover:bg-neutral-100 shadow-sm;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}